 <h1>Topics <%= link to: topic_path(@conn, :new) do %><small>new</small><% end %></h1>

<ul>
  <%= for topic <- @topics do %>
    <li>
      <%= link to: topic_path(@conn, :show, topic) do %><%= topic.title %><% end %> -
        <%= link to: topic_path(@conn, :edit, topic) do %><small>edit</small><% end %> /
        <%= link to: topic_path(@conn, :delete, topic), method: :delete do %><small>destroy</small><% end %>
    </li>
  <% end %>
</ul>
