<h1>
  New Topic
  <%= link to: topic_path(@conn, :index) do %><small>list all</small><% end %>
</h1>

<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <div>
    <%= text_input f, :title, placeholder: "Title"  %>
    <%= error_tag f, :title  %>
  </div>

  <br />

  <div>
    <%= submit "Save Topic" %>
  </div>
<% end %>
